@model IEnumerable<Webprj.Models.Product>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ProductView</title>
    <link rel="stylesheet" type="text/css" href="~/css/views/ProductView.css" />
</head>
<body>
<p>
        <a asp-action="CreateProduct" class="btn btn-secondary">Thêm</a>
        <form asp-action="FindProduct" method="get">
            <input type="text" name="name" placeholder="Tìm theo tên sản phẩm..." />
            <button type="submit">Tìm</button>
        </form>
</p>
<table border="1" class="table">
    <thead>
        <tr>
            <th>Mã Sản Phẩm</th>
            <th>Tên Sản Phẩm</th>
            <th>Mô Tả</th>
            <th>Giá </th>
            <th>Hàng Tồn</th>
            <th>URL Ảnh</th>
            <th>Chứng Nhận</th>
            <th>Tính Năng Đặc Biệt</th>
            <th>Tạo Vào</th>
            <th>Cập Nhật Vào </th>
            <th>Danh Mục</th>
            <th>Nhà Cung Cấp</th>
            <th>Tùy Chọn</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor( modelItem => item.ProductId)</td>
            <td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.Description)</td>
            <td>@Html.DisplayFor(modelItem => item.Price)</td>
            <td>@Html.DisplayFor(modelItem => item.StockQuantity)</td>
            <td>@Html.DisplayFor(modelItem => item.ImageUrl)</td>
            <td>@Html.DisplayFor(modelItem => item.Certificate)</td>
            <td>@Html.DisplayFor(modelItem => item.TechnicalSpecifications)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
            <td>@Html.DisplayFor(modelItem => item.UpdatedAt)</td>
            <td>@Html.DisplayFor(modelItem => item.CategoryId)</td>
            <td>@Html.DisplayFor(modelItem => item.SupplierId)</td>
            <td>
                <a asp-action="DeleteProduct" asp-route-ProductId="@item.ProductId">Xóa</a> |
                <a asp-action="EditProduct" asp-route-ProductId="@item.ProductId">Sửa</a> |
                <a asp-action="DetailProduct" asp-route-ProductId="@item.ProductId">Thông Tin</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
