@model Webprj.Models.Payment

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thông Tin Giao Dịch</title>
    <link rel="stylesheet" type="text/css" href="~/css/views/PaymentView.css" />
    <style>
        .detail-row {
            margin-bottom: 10px;
            white-space: nowrap;
        }

        .detail-label {
            width: 150px;
            font-weight: bold;
        }

        .detail-value {
            flex: 1;
        }
    </style>
</head>
<body>
    <h3>Thông Tin Chi Tiết: @Model.PaymentId</h3>
    <div>
        <hr />
        <div class="detail-row">
            <span class="detail-label">Mã Giao Dịch :</span>
            <span class="detail-value">@Html.DisplayFor(model => model.PaymentId)</span>
        </div>
        <div class="detail-row">
            <span class="detail-label">Mã Đơn Đặt Hàng :</span>
            <span class="detail-value">@Html.DisplayFor(model => model.OrderId)</span>
        </div>
        <div class="detail-row">
            <span class="detail-label">Ngày Giao Dịch:</span>
            <span class="detail-value">@Html.DisplayFor(model => model.TransactionDate)</span>
        </div>
        <div class="detail-row">
            <span class="detail-label">Phương Thức Thanh Toán:</span>
            <span class="detail-value">@Html.DisplayFor(model => model.PayMethod)</span>
        </div>

    </div>
    <hr />
    <div>
        <a asp-action="PaymentView" class="btn btn-secondary">Trở Lại Danh Sách Giao Dịch</a>
    </div>
</body>
</html>
