@model List<Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
    <body class="index-page">
        <div class="napthe">
        <nav class="menu-bar">
            <button class="btn-static" onclick="toggleMenu()">Menu</button>
            <ul class="menu-list" id="menu-list">
                <li><a href="#">Danh Mục 1</a></li>
                <li><a href="#">Danh Mục 2</a></li>
                <li><a href="#">Danh Mục 3</a></li>
                <li><a href="#">Danh Mục 4</a></li>
            </ul>
        </nav>
        </div>
    <h1 class="chaomung text-center fw-bold text-danger">Chăm Sóc Sức Khỏe Gia Đình</h1>
    <div class="container" >
        @foreach ( var item in Model.Where( p => p.CategoryId == 5))
        {
            <div class="OptionAcc">
                <img src="@Url.Content("~" + item.ImageUrl)" alt="Ảnh sản phẩm" width="400" height="400" style="border-radius : 8%;"/>
                <div class="card-content">
                    <h2>@item.Name</h2>
                    <h2>$@item.Price</h2>
                    <a asp-controller="Product" asp-action="ProductInformation" asp-route-id="@item.ProductId" class="btn-static">Xem Chi Tiết</a>
                </div>
            </div>
        }
        </div>
    <h1 class="chaomung text-center fw-bold text-danger">Tủ Thuốc Gia Đình</h1>
        <div class="container">
        @foreach ( var item in Model.Where ( p => p.CategoryId == 6 ) )
        {
            <div class="OptionAcc">
                <img src="@Url.Content("~" + item.ImageUrl)" alt="Ảnh sản phẩm" width="400" height="400" />
                <div class="card-content">
                    <h2>@item.Name</h2>
                    <h2>$@item.Price</h2>
                    <a asp-controller="Product" asp-action="ProductInformation" asp-route-id="@item.ProductId" class="btn-static">Xem Chi Tiết</a>
                </div>
            </div>
        }    
        </div>
</body>
<script>
    function toggleMenu() {
        var menuList = document.getElementById("menu-list");
        menuList.classList.toggle("show");
    }
</script>
@section Footer {
    <div>
        <button class="btn-static" onclick="window.open('@Url.Action("Page2", "Home")', '_self')">Trang Tiếp Theo</button>
    </div>
}
</html>
