@model IEnumerable<Webprj.Models.Customer>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dữ Liệu Khách Hàng</title>
    <link rel="stylesheet" type="text/css" href="~/css/views/CustomerView.css" />
</head>
<body>
<p>
        <a asp-action="CreateCustomer" class="btn-secondary">Thêm</a>
        <a asp-action="FindCustomer" class="btn-secondary">Tìm Kiếm</a>
</p>
<table border="1" class="table">
    <thead>
        <tr>
            <th>Mã Khách Hàng</th>
                <th>
                    Mật Khẩu
                </th>
            <th>
                Tên Khách Hàng
            </th>
            <th>
                Email
            </th>
            <th>
                Số Điện Thoại
            </th>
            <th>
                Địa Chỉ Giao Hàng
            </th>
            <th>
                Địa Chỉ Thanh Toán
            </th>

            <th>
                Tạo Vào
            </th>
            <th>Tùy Chọn</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.CustomerId )</td>
            <td>@Html.DisplayFor(modelItem => item.PasswordHash)</td>
            <td>@Html.DisplayFor(modelItem => item.CustomerName)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.ShippingAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.BillingAddress)</td>
            <td>@Html.DisplayFor(modelItem => item.CreatedAt)</td>
            <td>
                <a asp-action="DeleteCustomer" asp-route-CustomerId="@item.Id">Xóa</a> |
                <a asp-action="EditCustomer" asp-route-CustomerId="@item.Id">Sủa</a> |
                <a asp-action="DetailCustomer" asp-route-CustomerId="@item.Id">Thông Tin</a> 
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
