@model Webprj.Models.Customer

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xóa Khách Hàng</title>
    <link rel="stylesheet" type="text/css" href="~/css/views/CustomerView.css" />
</head>
<body>

<h3>Bạn Có Chắc Chắn Muốn Xóa Khách Hàng : @Model.CustomerName này ?</h3>
<div>
    <h4>Thông Tin Chi Tiết</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PasswordHash)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PasswordHash)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
    </dl>
    
    <form asp-action="ConfirmDeleteCustomer" method="post">
        <input type="hidden" asp-for="CustomerId" />
        <button type="submit" class="btn btn-danger">Xóa</button>
        <a asp-action="CustomerVIew">Trở Lại Danh Sách Khách Hàng</a>
    </form>
</div>
</body>
</html>
